@import "../../components/Mixins.scss";

.wrapper {
  display: flex;
  flex-direction: column;

  .videoPlayer {
    width: 1363px;
    height: 700px;
  }

  .videoInfo {
    margin-top: 20px;
    display: flex;
    flex-direction: column;

    .videoName {
      @include fontFamily;
      font-weight: 700;
      font-size: 36px;
      line-height: 45px;
    }

    .moreInfo {
      margin-top: 14px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      .views {
        @include fontFamily;
        font-style: normal;
        color: #c2c2c2;
        font-weight: 400;
        font-size: 20px;
        line-height: 25px;
      }

      .toolsBar {
        display: flex;
        flex-direction: row;
        align-items: center;

        .tools {
          width: 320px;
          margin-right: 40px;
          display: flex;
          justify-content: space-between;
          align-items: center;

          .container {
            display: flex;
            align-items: center;
            width: 100px;
            height: 40px;
            position: relative;
            border-radius: 20px;
            background-color: #ebebeb;

            .item {
              margin-left: 20px;
            }

            .itemText {
              font-style: normal;
              font-weight: 400;
              font-size: 16px;
              line-height: 20px;
              color: #192646;
              margin-left: 8px;
            }
          }
        }
      }
    }
  }
}
