.wrapper {
  width: 100%;
  margin-top: 1em;
  margin-bottom: 1em;
  display: flex;
  justify-content: space-between;

  .navigations {
    min-width: 82.55%;
    display: flex;
    align-items: center;
    flex-direction: row;

    .burgerMenu {
      margin-left: 2em;
      margin-right: 28px;
      width: 20px;
      height: 17px;
    }

    @media only screen and (max-width: 600px) {
      .burgerMenu {
        display: none;
      }
      .youtubeLogo {
        margin-left: 16px;
      }
    }

    .search {
      width: 63.56%;
      display: flex;
      flex-direction: row;
      align-items: center;

      .input {
        min-width: 82.5%;
        display: flex;
        align-items: center;
        position: relative;
        height: 44px;
        border-radius: 22px;
        background: #ebebeb;

        .font {
          min-width: 82.65%;
          padding: 12px 23px;
          background-color: transparent;
          outline: none;
          border: none;
          font-family: "Mulish", sans-serif;
          color: #30384c;
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 20px;
        }
        .search {
          position: absolute;
          width: 18px;
          height: 18px;
          right: 18px;
        }
      }

      @media only screen and (max-width: 600px) {
        .input {
          display: none;
        }
      }

      .youtubeLogo {
        width: 116px;
        height: 25px;
        margin-right: 60px;
      }
    }
  }

  .tools {
    min-width: 17.44%;
    display: flex;
    flex-direction: row;
    align-items: center;

    .searchLoupe {
      margin-right: 20px;
      display: none;
    }

    .moreTools {
      margin-left: auto;
      margin-right: 20px;
      display: none;
    }

    .navBar {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      width: 175px;
      height: 32px;
    }

    @media only screen and (max-width: 1200px) {
      .navBar {
        display: none;
      }
      .moreTools {
        display: flex;
      }
    }

    @media only screen and (max-width: 1300px) {
      .imageProfile {
        display: none;
      }
    }

    @media only screen and (max-width: 600px) {
      .searchLoupe {
        display: flex;
      }
    }

    .imageProfile {
      margin-left: 14.92%;
      width: 40px;
      height: 40px;
      margin-right: 20%;
    }
  }

  @media only screen and (max-width: 600px) {
    .tools {
      width: 100%;
    }
  }
}
